.CenterIdea {
    font-family: 'Century Gothic', sans-serif;
    color: blue
}
.fst-exp{
    font-style: oblique;
    font-family: 'Century Gothic', sans-serif;
}
.card-container {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    flex-wrap: nowrap;
}
.card1{
    margin: 20px;
}
.card2{
    margin-top: 20px;
    height: 200px;
    padding: 20px;
}
.card-img-top{
    max-height: 400px;
}
.Q{
    font-family: 'Century Gothic', sans-serif;
}
.corner{
    width: 200px;
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  max-width: 600px;
}